# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/
bin/

# Ignore Idea customizations
.idea

# Ignore Eclipse settings
.project
.settings/
.classpath

# Ignore dev docs for personal use
docs/dev/personal/*

AGENTS.md
adjust-bootstrapper.md